<article id="article">
  <div class="title">
    <h1><%= @article.title %></h1>
  </div>

  <div class="intro">
    <%= @article.intro %>
  </div>

  <div class="extended">
    <%= @article.extended %>
  </div>

  <div class="meta">
    by <%= link_to @article.author.name, @article.author %>
    filed under <%= link_to @article.category.name.capitalize, @article.category %> &mdash;
    posted <%= time_ago_in_words @article.created_at %> ago
  </div>
</article>

