<!DOCTYPE html>
<html>
  <head>
    <title>Blaka</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <h1><%= link_to "Blaka", root_path %></h1>
    </header>

    <nav>
      <ul>
        <% for category in Category.all %>
          <li><%= link_to category.name.capitalize, category %></li>
        <% end %>
      </ul>
    </nav>

    <div id="torso">
      <%= yield %>
    </div>

    <footer>
      <p>&copy; juhoh 2013</p>
    </footer>

  </body>
</html>
